.user-item {
  display: flex;
  justify-content: flex-end;
  width: auto;
  align-items: center;

  &--user {
    width: 80px;
  }
  &--messages {
    background-color: rgb(196, 44, 175);
    background-color: rgb(182, 19, 160);
    //  background-color: rgb(129, 17, 54);
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    width: fit-content;
    margin-right: 10px;
  }
}
