.home {
  color: #4b4f53;
  height: 100vw;
  &--header {
    padding: 40px 10px;
    h1 {
      margin-bottom: 30px;
    }
  }

  &--pets-container {
    display: flex;
    flex-direction: column;
  }
  &--pets {
    height: 350px;
    width: 100%;
  }
  .dog {
    background-color: peachpuff;
  }
  .cat {
    background-color: pink;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    background-color: pink;
    &--pets-container {
      width: 100%;
      flex-direction: row;
      max-width: 768px;
      margin: 0 auto;
    }
    &--pets {
      max-height: 300px;
      width: 100%;
    }
    .dog {
      background-color: pink;
    }
  }
}

@media only screen and (min-width: 1020) {
  .home {
    &--pets {
      max-height: 400px;
      width: 100%;
    }
  }
}
