.layout--container {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.layout--content {
  width: 85%;
  min-height: 100vh;
  margin: 10% 0 10% 0;
  // display: flex;
  // flex-direction: column;

  background-color: whitesmoke;
  border-radius: 16px;
}

// $color-primary:black;
// $color-secondary: white;
// $color-gray: #d9d9d9;
// $color-dark-gray: #666;
// $color-light-gray: #d5d5d5;
// $color-red: #d80026;

// $font-primary: 'Roboto', sans-serif;
// $font-secondary: "Open Sans", sans-serif;
// $font-special: "Bree Serif", serif;

// @mixin box-shadow($x, $y, $blur, $spread, $color) {
//   -webkit-box-shadow: $x $y $blur $spread $color;
//   -moz-box-shadow: $x $y $blur $spread $color;
//   -ms-box-shadow: $x $y $blur $spread $color;
//   box-shadow: $x $y $blur $spread $color;
// }
// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
//   -ms-border-radius: $radius;
//   border-radius: $radius;
// }

// @mixin flex-column-box {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   text-align: center;
// }

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html {
//   scroll-behavior: smooth;
//   font-size: 16px;
//   color: $color-primary;
// }

// body {
//   background-color: $color-secondary;
//   font-family: $font-primary;
//   line-height: 1.6;
// }

// li {
//   list-style: none;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// .container {
//   max-width: 1030px;
//   margin: 0 auto;
// }
