.layout--container {
  font-size: 12px;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 5% 0;
}

.layout--content {
  min-width: 85%;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 16px;
}

@media only screen and (min-width: 768px) {
  .layout--container {
    font-size: 14px;
    padding: 2% 0;
  }
  .layout--content {
    min-width: 0%;
    width: 1020px;
  }
}
