.layout--container {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.layout--content {
  width: 85%;
  min-height: 100vh;
  margin: 10% 0 10% 0;
  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
  border-radius: 16px;
}

// @media only screen and (max-width: 768px) {
//   .layout--content {
//     min-height: 100vh;
//   }

//   .layout--container {
//     min-height: 100vh;
//   }
// }
