.pet-item {
  display: flex;
  width: auto;
  align-items: center;

  &--pet {
    width: 80px;
  }
  &--messages {
    background-color: rgb(58, 14, 99);
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    width: fit-content;
    //  max-width: 7%;
    margin-left: 10px;
  }
}
