.pet-item {
  display: flex;
  width: auto;
  align-items: center;

  &--pet {
    width: 80px;
  }
  &--messages {
    margin-left: 10px;
    display: flex;
    flex-direction: column;

    label {
      background-color: rgb(58, 14, 99);
      color: whitesmoke;
      padding: 10px;
      border-radius: 5px;
      width: fit-content;
      margin: 5px 0;
    }
  }
}
